@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: ' sans-serif';
}

/* header start */
body {
    background-color: #eeebec;
}

.navbar {
    width: 100%;
    height: 75px;

}

.navbar img {
    width: 150px;
    padding: 10px;
    padding-left: 60px;
}

.navbar ul {
    justify-content: center;
    float: right;
    margin-right: 120px;

}

.navbar ul li {
    display: flex;
    display: inline-block;
    padding: 27px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #7a6666;
}


.navbar ul li:hover{
    color: #fff;

    background-color: #cb3362;
}


/* section 1 start */
.banner img {
    width: 100%;
    height: 600px;
    background-size: contain;
}

/* section 2 */
.product-1 h4,p {
    padding: 10px;
    padding-left: 60px;
    width: 50%;
}

.product-1 h4 {
    
    font-size: 20px;
    color: grey;
}

.product-1 h1 {
    padding-left: 60px;
    color: #cb3362;
    font-family: 'poppins', sans-serif;
}

.product-1 img {
    float: right;
    margin-top: -242px;
}


/* footer */
.footer {
    width: 100%;
    height: 180px;
    background: rgb(162, 194, 17);
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;

}

.footer ul li {
    padding: 10px;
}

.footer ul li {
    padding: 10px;
}


.footer ul li i {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding: 15px;
    padding-left: 50px;
}

.footer ul li i:hover{
    color:#cb3362 ;
    
}


.footer ul li a {
    padding: 15px;
    text-decoration: none;
    justify-content: space-around;
    color: #fff;
    font-weight: 600;
}


/* main footer */

#footer{
width: 100%;
height: 250px;
background-color: #cb3362;
align-items: center;
text-align: center;

}

#footer .connect a{
    padding: 5px;
}
#footer .connect a i{
    font-size: 30px;
    color: #fff;
    padding: 20px;
}


#footer small{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: 'poppins','sans-serif';
}

#footer small:hover{
    color: #3d0f1e;
}
/* end */